* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    z-index: 1000;
}

nav.scrolled {
    background-color: rgba(34, 80, 76, 0.8);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    margin: 20px;
    padding: 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #FFD700; /* Gold color on hover */
    background-color: rgb(147, 186, 186);
}

.content {
    padding: 100px 20px; /* Add some top padding to avoid content being hidden behind the navbar */
}